.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.blog-content {
    width: 80%;
    height: 200px;
    background-color: rgb(185, 196, 192);
    float: left;
}
.blog-img {
    width: 20%;
    height:200px;
    background-color: lightpink;
    float: left;
}
.blog-profile {
    width: 60px;
    height: 100%;
    border-radius: 300px;
    display: inline-block;
    float: left;
}

.blog-name {
    float: left;
}
.blog-time { 
    display: inline-block;
    float: left;
}
